---
import Layout from '@l/Page.astro';
import Link from '@c/Link.astro';

import { getCollection } from 'astro:content';
import Image from '@c/Images.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const posts = (await getCollection('component')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title={title} description={description}>
  <h1>Hi welcome to JoCode web site.</h1>

  <ul>
    {
      posts.map((post) => (
        <li class='list-unstyled'>
          <Link class='btn' href={`/${post.id}/`}>
            {post.data.heroImage && (
              <Image
                imagePath={post.data.heroImage}
                altText={`see more about ${post.data.title}`}
              />
            )}
            <h4 class='title'>{post.data.title}</h4>
          </Link>
        </li>
      ))
    }
  </ul>
</Layout>
