---
import Link from '@c/Link.astro';
import Image from '@c/Images.astro';

import { getCollection } from 'astro:content';

const components = await getCollection('component');

const groupedComponents = components.reduce((acc, component) => {
  component.data.categories?.forEach((category) => {
    if (!acc[category]) {
      acc[category] = [];
    }
    acc[category].push(component);
  });
  return acc;
}, {});
---

<nav>
  <ul class='list-unstyled'>
    {
      Object.entries(groupedComponents).map(([category, components]) => (
        <li>
          <strong>{category}</strong>
          <ul class='list-unstyled'>
            {components.map((component) => (
              <li>
                <Link class='btn' href={`/${component.id}`}>
                  {component.data.heroImage && (
                    <Image
                      imagePath={component.data.heroImage}
                      altText={`see more about ${component.data.title}`}
                    />
                  )}
                  {component.data.title}
                </Link>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</nav>
